@font-face {
    font-family: "Roboto";
    src: local(Roboto Bold), url("../fonts/roboto/Roboto-Bold.woff") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff");
    font-weight: 700;
}

::-webkit-scrollbar {
    width:  4px;
}

::-webkit-scrollbar-thumb {
    background: #8f8f8f;
}

::-webkit-scrollbar-track {
    background: white;
}

@media (max-width: 400px) {
    ::-webkit-scrollbar {
        width:  3px;
    }
}
.menu-container {
    width: 100%;
    margin: 0 auto;
    background: #607d8b;

}
.menu-mobile {
    display: none;
    padding: 20px;
    color: #fff;
}

.menu-mobile:after {
    font-size: 2.5rem;
    padding: 0;
    float: right;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
}

.menu-dropdown-icon:before {
    display: none;
    cursor: pointer;
    float: right;
    padding: 1.5em 2em;
    background: #fff;
    color: #333;
}

.menu > ul {
    margin: 0 auto;
    width: 100%;
    list-style: none;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

.menu > ul:before, .menu > ul:after {
    content: "";
    display: table;
}

.menu > ul:after { clear: both; }

.menu > ul > li {
    float: right;
    background: #607d8b;
    padding: 0;
    margin: 0;
}

.menu > ul > li a {
    text-decoration: none;
    padding: 1.5em 3em;
    display: block;
    color:#fff;
}

.menu > ul > li:hover { background: #f0f0f0; }

.menu > ul > li:hover > a { color: #333; }

.menu > ul > li > ul {
    display: none;
    width: 100%;
    background: #f0f0f0;
    padding: 20px;
    position: absolute;
    z-index: 99;
    right: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    border-bottom: #E53935  2px solid;
}

.menu > ul > li > ul:before, .menu > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul:after { clear: both; }

.menu > ul > li > ul > li {
    margin: 0;
    padding-bottom: 0;
    list-style: none;
    width: 25%;
    background: none;
    float: right;
}

.menu > ul > li > ul > li a {
    color: #777;
    padding: .2em 0;
    width: 95%;
    display: block;
    border-bottom: 1px solid #ccc;
}

.menu > ul > li > ul > li > ul {
    display: block;
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
    box-sizing: border-box;
}

.menu > ul > li > ul > li > ul:before, .menu > ul > li > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul > li > ul:after { clear: both; }

.menu > ul > li > ul > li > ul > li {
    float: right;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    font-size: 1em;
}

.menu > ul > li > ul > li > ul > li a { border: 0; }

.menu > ul > li > ul.normal-sub {
    width: 300px;
    left: auto;
    padding: 10px 20px;
}

.menu > ul > li > ul.normal-sub > li { width: 100%; }

.menu > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 1em 0;
}

@media only screen and (max-width: 959px) {

    .menu-container { width: 100%; }

    .menu-mobile { display: block; }

    .menu-dropdown-icon:before { display: block; }

    .menu > ul { display: none; }

    .menu > ul > li {
        width: 100%;
        float: none;
        display: block;
    }

    .menu > ul > li a {
        padding: 1.5em;
        width: 100%;
        display: block;
    }

    .menu > ul > li > ul { position: relative; }

    .menu > ul > li > ul.normal-sub { width: 100%; }

    .menu > ul > li > ul > li {
        float: none;
        width: 100%;
        margin-top: 20px;
    }

    .menu > ul > li > ul > li:first-child { margin: 0; }

    .menu > ul > li > ul > li > ul { position: relative; }

    .menu > ul > li > ul > li > ul > li { float: none; }

    .menu .show-on-mobile { display: block; }
}





.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
    text-align: center;

}

.sidenav a {
    padding:  5px 0px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 10px;
}

.login-form{
    top: 150px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 10px;}
    .sidenav a {font-size: 16px;}

}

@media (max-width: 400px) {
    .login-form{
        top: 30px;
    }

}

